<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>

    <link rel="stylesheet" href="/assets/css/tables.css">
    <link rel="stylesheet" href="/assets/css/inputs.css">
    <link rel="stylesheet" href="/assets/css/alerts.css">

    <script src="/assets/js/manager.js"></script>

    <title>Management Panel</title>
</head>
<body>
    <%- include("../partials/header") %>
    <main class="container container-lg">
        <% if (restart) { %>
            <script>
            setTimeout(() => {
                window.location.href = "/";
            }, 3000);
            </script>
        <% }  if (locals.error) { %>
        <div class="alert alert-danger alert-fixed">
            <strong>Error:</strong>
            <%= error %>
        </div>
        <% } else if (locals.info) { %>
        <div class="alert alert-info alert-fixed">
            <strong>Info:</strong>
            <%= info %>
        </div>
        <% } %>
        <form method="POST" action="/rewards" class="col col-6 section">
            <h2>Manage Rewards</h2>
            <p>It is preferred to utilize a reward for the role wheel that the bot creates, as it is able to approve or deny the redemption. To do so, click the button below.</p>
            <a href="/rewards/add" class="button">Add Reward from Bot</a>
            <table>
                <thead>
                    <tr>
                        <th>
                            Reward
                        </th>
                        <th>
                            Trigger Role Wheel
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% broadcasterRewards.forEach(broadcasterReward => { %>
                    <tr>
                        <th colspan="2"><%= broadcasterReward.broadcasterName %></th>
                    </tr>
                    <% broadcasterReward.rewards.forEach(reward => { %>
                    <tr>
                        <td><%= reward.title %> (<%= reward.cost %> points)</td>
                        <td><input type="checkbox" name="roleAdd[<%= reward._id %>]" id="<%= reward._id %>"<%- reward.settings.roleAdd ? ' checked="checked"' : "" %>></td>
                    </tr>
                    <% })
                       }) %>
                </tbody>
            </table>
            <input type="submit" value="Update">
        </form>
        <form method="POST" action="/channels" class="col col-6 section">
            <h2>Manage Users</h2>
            <table>
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Authorized<small>Allow access to this page</small></th>
                        <th>Bot User<small>Speak as this user</small></th>
                        <th>Channel<small>Channels to listen to for redemptions & messages</small></th>
                    </tr>
                </thead>
                <tbody>
                    <% tokens.forEach(token => { %>
                    <tr>
                        <td><%= token.userDisplayName %></td>
                        <td><input type="checkbox" id="authorized-<%= token.user %>" name="authorized[<%= token.user %>]"<% if (token.settings.authorized) { %> checked="checked"<%}%>></td>
                        <td><input type="radio" id="botuser-<%= token.user %>" name="useAsBot" value="<%= token.user %>"<% if (token.settings.useAsBot) { %> checked="checked"<%}%>></td>
                        <td><input type="checkbox" id="channel-<%= token.user %>" name="useAsChannel[<%= token.user %>]"<% if (token.settings.useAsChannel) { %> checked="checked"<%}%>></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <input type="submit" value="Update">
        </form>
        <div class="col col-6">
            <form method="POST" action="/roles" class="section">
                <h2>Manage Roles</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Color</th>
                            <th>Name</th>
                            <th>Wheel Color</th>
                            <th>Wheel Text Color</th>
                            <th>Role Wheel</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% discordRoles.forEach(role => { %>
                        <tr<%- role.assignable ? "" : ' class="unassignable" title="This role is placed above the bot role and may not be assigned by the bot."' %>>
                            <td><div class="color" style="background-color: <%= role.color %>;"></div></td>
                            <td><%= role.name %></td>
                            <td><input type="color" name="wheelColor[<%= role._id %>]" id="color-<%= role._id %>" value="<%- role.settings.wheelColor ? role.settings.wheelColor : role.color %>"<%- role.assignable ? "" : ' disabled="disabled"' %>></td>
                            <td><input type="color" name="wheelTextColor[<%= role._id %>]" id="color-<%= role._id %>" value="<%- role.settings.wheelTextColor ? role.settings.wheelTextColor : "#ffffff" %>"<%- role.assignable ? "" : ' disabled="disabled"' %>></td>
                            <td><input type="checkbox" name="roleAdd[<%= role._id %>]" id="roleadd-<%= role._id %>"<%- role.settings.roleAdd ? ' checked="checked"' : "" %><%- role.assignable ? "" : ' disabled="disabled"' %>></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                <input type="submit" value="Update">
            </form>
            <form method="POST" action="/settings" class="section">
                <h2>Settings</h2>
                <div class="container">
                    <div class="col col-3">
                        <label for="wheelPosition">Wheel Position</label>
                    </div>
                    <div class="col col-3">
                        <label for="reactionPosition">Live Reaction Position</label>
                    </div>
                    <div class="col col-3">
                        <label for="reactionSetting">Reaction Setting</label>
                    </div>
                    <div class="col col-3">
                        <label for="wheelSetting">Wheel Setting</label>
                    </div>
                    <div class="col col-3">
                        <select name="wheelPosition" id="wheelPosition">
                            <option value="4"<%- settings.wheelCss === "left:2em;top:2em;" ? ' selected="selected"' : "" %>>Top Left</option>
                            <option value="1"<%- settings.wheelCss === "right:2em;top:2em;" ? ' selected="selected"' : "" %>>Top Right</option>
                            <option value="2"<%- settings.wheelCss === "right:2em;bottom:2em;" ? ' selected="selected"' : "" %>>Bottom Right</option>
                            <option value="3"<%- settings.wheelCss === "left:2em;bottom:2em;" ? ' selected="selected"' : "" %>>Bottom Left</option>
                        </select>
                    </div>
                    <div class="col col-3">
                        <select name="reactionPosition" id="reactionPosition">
                            <option value="4"<%- settings.reactionCss === "left:2em;top:2em;" ? ' selected="selected"' : "" %>>Top Left</option>
                            <option value="1"<%- settings.reactionCss === "right:2em;top:2em;" ? ' selected="selected"' : "" %>>Top Right</option>
                            <option value="2"<%- settings.reactionCss === "right:2em;bottom:2em;" ? ' selected="selected"' : "" %>>Bottom Right</option>
                            <option value="3"<%- settings.reactionCss === "left:2em;bottom:2em;" ? ' selected="selected"' : "" %>>Bottom Left</option>
                        </select>
                    </div>
                    <div class="col col-3">
                        <select name="reactionSetting" id="reactionSetting">
                            <option value="wisp"<%- settings.reactionSetting === "wisp" ? ' selected="selected"' : "" %>>Live Wisp Reaction</option>
                            <option value="emote"<%- settings.reactionSetting === "emote" ? ' selected="selected"' : "" %>>Live (Emote) Reaction</option>
                        </select>
                    </div>
                    <div class="col col-3">
                        <select name="wheelSetting" id="wheelSetting">
                            <option value="block"<%- settings.wheelSetting === "block" ? ' selected="selected"' : "" %>>Block - Prevent user from spinning the wheel if they already have a role</option>
                            <option value="remove"<%- settings.wheelSetting === "remove" ? ' selected="selected"' : "" %>>Remove - Remove any existing roles if a user re-spins the wheel</option>
                            <option value="ignore"<%- settings.wheelSetting === "ignore" ? ' selected="selected"' : "" %>>Ignore - Ignore any roles the user may have and add another one</option>
                        </select>
                    </div>
                </div>
                <input type="submit" value="Update Settings">
            </form>
        </div>
        <div class="col col-6">
            <div class="section">
                <h2>Manage Emotes</h2>
                <form method="POST" action="/emotes/new">
                    Add new Emote
                    <select name="emote" id="emote" class="noblock">
                        <% let lastType = ""; allEmotes.forEach(emote => { %><% if (emote.type !== lastType) { %><option value="null" disabled="disabled"><%= emote.type.toUpperCase() %></option><% lastType = emote.type; } %><option value="<%= emote.code %>"><%= emote.code %></option><% }) %>
                    </select>
                    <input type="submit" value="Add Emote">
                </form>
                <form method="POST" action="/emotes">
                    <table>
                        <thead>
                            <tr>
                                <th>Emote</th>
                                <th>Code</th>
                                <th>Display Name</th>
                                <th>Enabled</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let lastPlatform = ""; emotes.forEach(emote => { if (lastPlatform !== emote.platform) { lastPlatform = emote.platform; %>
                            <tr>
                                <th colspan="5"><%= lastPlatform.toUpperCase() %></th>
                            </tr>
                            <% } %>
                            <tr>
                                <td><img src="<%= emote.link %>" alt="<%= emote.code %>"></td>
                                <td><%= emote.code %></td>
                                <td>
                                    <input type="text" name="<%= emote._id %>-name" id="<%= emote._id %>" value="<%= emote.displayName %>">
                                </td>
                                <td>
                                    <input type="checkbox" name="enabled[<%= emote._id %>]" id="enabled-<%= emote._id %>"<%- emote.enabled ? ` checked="checked"` : "" %>>
                                </td>
                                <td>
                                    <a href="/emotes/delete/<%= emote._id %>">Remove</a>
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <input type="submit" value="Update Emotes">
                </form>
            </div>
            <form method="POST" action="/emotes/requirements" class="section">
                <h2>Reaction Requirements</h2>
                <div class="container container-md">
                    <div class="col-3">
                        <label for="emoteCount">Emote Count <small>Number of emotes to trigger the reaction</small></label>
                    </div>
                    <div class="col-3">
                        <label for="emoteTime">Emote Time <small>Maximum time for the emote count to be hit to cause the reaction</small></label>
                    </div>
                    <div class="col-3">
                        <label for="maxPerUser">Max Per User <small>Maximum emotes per user to trigger a reaction</small></label>
                    </div>
                    <div class="col-3">
                        <label for="lastingTime">Reaction Lasting Time <small>Seconds after the last reaction to continue treating as one </small></label>
                    </div>
                    <div class="col-3">
                        <input type="number" id="emoteCount" name="emoteCount" min="1" max="300" step="1" value="<%= emoteCount %>">
                    </div>
                    <div class="col-3">
                        <input type="number" name="emoteTime" id="emoteTime" min="1" max="300" step=".5" value="<%= emoteTime %>">
                    </div>
                    <div class="col-3">
                        <input type="number" name="maxPerUser" id="maxPerUser" min="1" max="300" step="1" value="<%= maxPerUser %>">
                    </div>
                    <div class="col-3">
                        <input type="number" name="lastingTime" id="lastingTime" min="1" max="300" step="0.5" value="<%= lastingTime %>">
                    </div>
                </div>
                <input type="submit" value="Update">
            </form>
        </div>
    </main>
    <%- include("../partials/footer") %>
</body>
</html>
