<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/overlay.css">

    <script src="/assets/js/overlay.js"></script>
<% urls.forEach(url => { %>
    <link rel="prefetch" href="<%= url %>"><% }) %>

    <title>Overlay</title>
</head>
<body>
    <div id="live-reaction" style="display: none;<%= settings.reactionCss %>">
        <h1>
            Live <span id="reaction-name">Wisp</span> Reaction
        </h1>
        <div id="live-body">
            <img src="null" id="reaction-image">
            <div id="reaction-count">x3</div>
        </div>
    </div>
    <div id="role-wheel" style="display: none;<%= settings.wheelCss %>">
        <h1>
            Spinning Wheel for <span class="username"></span>
        </h1>
        <div id="wheel-container">
            <canvas id="wheel" width="300px" height="300px"></canvas>
        </div>
    </div>
    <div id="role-selected" style="display: none;width: 300px;height: 300px;<%= settings.wheelCss %>">
        <div class="centered">
            <div class="user">
                <img src="null" class="user-image">
                <div>
                    <div class="user-name"></div>
                    <div class="role"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="inactive"></div>
</body>
</html>